.viewgrid{
  padding-left: 5%;
  max-width: 100 vw;
  display: grid;
  grid-template-columns: 50% 50%;
}

.table {
  display: table;
  width: 100%;
}
.warenkorb{
  margin-left: 5%;
}
tr{
  width: 100%;
}
.warenkorbItem{
  margin-right: 5%;
  margin-bottom: 10px;
}
