<div class="viewgrid">
  <div>
    <mat-form-field appearance="standard">
      <mat-label>Suche</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
    </mat-form-field>
    <div class="mat-elevation-z8 table">

      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="Id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
        </ng-container>
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
        </ng-container>
        <ng-container matColumnDef="Beschreibung">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Beschreibung </th>
          <td mat-cell *matCellDef="let element"> {{element.Beschreibung}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="Add(row)"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Seitenoptionen"></mat-paginator>
    </div>
  </div>
  <div class="warenkorb">
    <mat-form-field appearance="standard" >
      <mat-label>Warenkorb</mat-label>
      <input matInput placeholder="Warenkorb" disabled>
    </mat-form-field>

    <mat-card class="mat-elevation-z8 warenkorbItem">
      <mat-card-title>Empfänger</mat-card-title>
      <mat-card-content>
        <mat-form-field appearance="standard" >
          <mat-label>Vorname</mat-label>
          <input matInput placeholder="Vorname"[(value)]="Empfaenger.Vorname">
        </mat-form-field>
        <mat-form-field appearance="standard" >
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name"[(value)]="Empfaenger.Name">
        </mat-form-field>
        <mat-form-field appearance="standard" >
          <mat-label>Strasse</mat-label>
          <input matInput placeholder="Strasse"[(value)]="Empfaenger.Strasse">
        </mat-form-field>

      <mat-form-field appearance="standard" >
        <mat-label>Hausnummer</mat-label>
        <input matInput placeholder="Hausnummer"[(value)]="Empfaenger.Hausnummer">
      </mat-form-field>
      <mat-form-field appearance="standard" >
        <mat-label>Postleitzahl</mat-label>
        <input type="number" matInput placeholder="Postleitzahl"[(value)]="Empfaenger.Postleitzahl">
      </mat-form-field>
      <mat-form-field appearance="standard" >
        <mat-label>Ort</mat-label>
        <input matInput placeholder="Vorname"[(value)]="Empfaenger.Ort">
      </mat-form-field>

</mat-card-content>
        <mat-card-actions>
          <button (click)="Versenden()" mat-button >Versenden</button>
        </mat-card-actions>
    </mat-card>

    <mat-card *ngFor="let art of Auswahl" class="mat-elevation-z8 warenkorbItem">
      <mat-card-title>{{ art.Artikel.Name }}</mat-card-title>
      <mat-card-subtitle>{{ art.Artikel.Beschreibung }}</mat-card-subtitle>
      <mat-card-content>
        <mat-form-field appearance="standard" >
          <mat-label>Anzahl</mat-label>
          <input type="number" matInput placeholder="Warenkorb"[(value)]="art.Faktor">
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="RemoveItem(art)" mat-button >Entfernen</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
